html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#clogo {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);

  height: 200px;
  width: 200px;
  pointer-events: none;
}
